.App {
  display: grid;
  grid-template-columns: .25fr 1.5fr .25fr;
  grid-template-rows: .2fr 2.6fr .2fr;
}

.nav {
  grid-column: 2/3;
  grid-row: 1/4;
  text-decoration: none;
  text-align: center;
}

.container {
  grid-column: 1/4;
  grid-row: 2/3;
}

footer {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}
