.section1 {
  display: grid;
  grid-template-columns: .2fr 1.8fr 1.8fr .2fr;
  grid-template-rows: .2fr .2fr .2fr 1.4fr;
}

.header {
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

.form {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

.word {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: right;
}

.sense {
  grid-column: 3/4;
  grid-row: 3/4;
}

.def {
  grid-column: 1/5;
  grid-row: 4/5;
}
